@use '../styles/mixins';
@use '../styles//placeholders';

.buscar{

    @include mixins.flex-prop(center, center, null, 5px);

    input{
        @extend %p-xs-03;
        padding: 5px;
        font-weight: 400;
        width: 40%;
        max-width: 281px;
    }

    label{
        @extend %p-xs-01;
    }

    @include mixins.respond-to(md){
        flex-direction: column;

        input{
            width: 100%;
            max-width: 400px;
        }
    }
}